@import url("style.css");

.app{
  background-image: linear-gradient(0deg, rgba(132,111,89,1) 0%, #4c5159 100%);
}

.right_media{
  background-image: url("../img/media.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--grey_lighter);
  font-size: 5vh;
  font-style: italic;
}

#signup, #forgot{
  display: none;
}