.App{
  background-color: #94bbe9;
}

.gradient{
  width: 100vw;
  height: 100vh;
  background-image:radial-gradient(circle, #edcedc 0%, #94bbe9 100%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #F8F9FA;
  font-size: 5vh;
  font-style: italic;
}